.center {
	text-align: center;
}

.mainContainer {
	display: flex;
	padding: 20px;
	border: solid 5px black;
	background-color: #FFCDD2;
}

.left {
	flex: 1 1 0;
}

body{
	background-color: #CE93D8;
}

.nyanSide{
	flex: 1 1 1;

}

.flex {
	display: flex;
}

.container {
	display: flex;
	height: 30px;
}




