.centeredText {
	text-align: center;
}

.mainContainer {
	display: flex;
	padding: 20px;
	border: solid 5px black;
	background-color: #FFCDD2;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.left2 {
	flex: 1 1 auto;
	text-align: left;
}


.left {
	flex: 1 1 auto;
	text-align: left;
	/*border: solid 2px;*/
}
.right {
	flex: 1 1 auto;
	text-align: right;
	/*border: solid 2px;*/
}
.center {
    flex: 6 0 auto;
	text-align: center;
	border: solid 2px;	
}

body{
	background-color: #CE93D8;
}

.nyanSide{
	flex: 1 1 1;
	

}

.container {
	display: flex;
	height: 30px;
}




