.center {
	text-align: center;
}

.mainContainer {
	display: flex;
}

.left {
	flex: 4 1 0;
}



.mainContainer{
	padding: 20px;
	border: solid 5px black;
	background-color: #FFCDD2;
}
body{
	background-color: #CE93D8
}




